@font-face {
	font-display: swap;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/inter-v13-latin-regular.woff2) format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	src: url(/assets/fonts/inter-v13-latin-500.woff2) format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	src: url(/assets/fonts/inter-v13-latin-700.woff2) format("woff2");
}

@font-face {
	ascent-override: 91%;
	font-display: swap;
	font-family: Mona Sans;
	font-stretch: 75% 125%;
	font-weight: 200 900;
	src:
		url(/assets/fonts/MonaSans.woff2) format("woff2 supports variations"),
		url(/assets/fonts/MonaSans.woff2) format("woff2-variations");
}

/* charis-sil-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Charis SIL";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/charis-sil-v2-latin-regular.woff2") format("woff2");
}

/* charis-sil-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Charis SIL";
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/charis-sil-v2-latin-700.woff2") format("woff2");
}

/* dm-serif-text-regular - latin */
@font-face {
	font-display: swap;
	font-family: "DM Serif Text";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/dm-serif-text-v13-latin-regular.woff2")
		format("woff2");
}
