/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--font-base:
		"Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
		sans-serif;

	--step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
	--step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
	--step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
	--step-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);

	--space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4489rem + 0.2273vw, 0.625rem);
	--space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
	--space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
	--space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
	--space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
	--space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
	--space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
	--space-3xl: clamp(6rem, 5.3864rem + 2.7273vw, 7.5rem);

	--color-brand-primary: #222222;
	--color-brand-secondary: #ff6a00;
	--color-brand-accent-1: plum;
	--color-brand-accent-2: skyblue;

	--color-neutral-50: #ffffff;
	--color-neutral-75: #fafafa;
	--color-neutral-100: #e3e3e3;
	--color-neutral-200: #c6c6c6;
	--color-neutral-300: #aaaaaa;
	--color-neutral-400: #8e8e8e;
	--color-neutral-500: #717171;
	--color-neutral-600: #555555;
	--color-neutral-700: #393939;
	--color-neutral-800: #1c1c1c;
	--color-neutral-900: #000000;

	--color-dark: var(--color-neutral-800);
	--color-light: var(--color-neutral-75);
	--color-mid: var(--color-neutral-500);

	--color-text-default: var(--color-neutral-800);
	--color-bg-default: var(--color-neutral-75);
	--color-action: var(--color-brand-secondary);

	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
	--gutter: var(--space-m);
	--leading-s: 1;
	--leading-m: 1.2;
	--leading-l: 1.4;
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 300ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
	--stroke: 1px dashed var(--color-dark);
	--stroke-solid: 1px solid var(--color-dark);
	--stroke-width: 0.1rem;
	--radius-s: 0.2rem;
	--radius-m: 0.75rem;
	--radius-l: 2.5rem;
	--uppercase-kerning: 0.04ch;
}

@custom-media --sm (min-width: 40rem);
@custom-media --md (min-width: 48rem);
@custom-media --lg (min-width: 64rem);
