<footer class="site-footer">
	<div class="closer">
		<div class="wrapper flow">
			<p>
				<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
			</p>
			<nav class="nav" aria-labelledby="secondary-navigation">
				<h2 id="secondary-navigation" class="visually-hidden">Footer navigation menu</h2>
				<ul class="cluster" role="list">
				{%- for entry in collections.all | eleventyNavigation %}
					<li><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</div>
	</div>
</footer>
